services:
  - type: web
    name: bingo-backend
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node dist/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false # This tells Render to look for the value you type in the dashboard
      - key: PORT
        value: 10000
